@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineChatEnvironment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineChatEnvironment.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-danger" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" asp-controller="Home" asp-action="Find">Find</a>
                </li>
               @* <li class="nav-item">
                    <a class="nav-link text-danger" asp-controller="Home" asp-action="Private">Private</a>
                </li>*@
                <li class="nav-item">
                    <a class="nav-link text-danger" asp-controller="Articles" asp-action="Create">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" asp-controller="Articles" asp-action="Index">User Articles</a>
                </li>
                @*<li class="nav-item">
                    <a class="nav-link text-danger" asp-controller="Articles" asp-action="Privacy">Privacy</a>
                </li>*@
            </ul>
            <partial name="_LoginPartial" />
        </nav>
    </header>


    <div class="main">
        @if (User.Identity.IsAuthenticated)
        {
            <vc:room></vc:room>
        }

        <div class="chat">
            @RenderBody()
        </div>
    </div>

    <div class="modal" id="create-room-modal">

        <form asp-controller="Home" asp-action="CreateRoom" class="modal-body">
            <button type="button" class="close" onclick="closeModal()">X</button>

            <header>
                Create Room
            </header>

            <div>
                <input name="name">
            </div>

            <footer>
                <button>Create</button>
            </footer>
        </form>
    </div>

   @* @RenderSection("Scripts", false);*@

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - OnlineChatEnvironment - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
