@model IEnumerable<User>

<div class="chat-body">
    @foreach (var user in Model)
    {
        <a class="room-button" asp-controller="Home" asp-action="CreatePrivateRoom" asp-route-userId="@user.Id">
            @user.UserName
        </a>
    }
</div>