@{
    ViewData["Title"] = "Home Page";
}

<div class="chat-body">
    <div class="message">
        <header>Anton:</header>
        <p>test messsageeesss</p>
        <footer>16:00</footer>
    </div>
    <div class="message">
        <header>Bob:</header>
        <p>test Bob's Burgers</p>
        <footer>16:01</footer>
    </div>
</div>
<div class="chat-input">
    <input type ="text">
    <button>Send</button>

</div>
