<div>
    <form asp-controller="Account" asp-action="Register">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="******">
        <button type="submit">Register</button>

    </form>
</div>